@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans&family=M+PLUS+Rounded+1c:wght@700&display=swap');

$color-primary: #243A73;
$color-secondary: #42C2FF;
$color-white: #fff;
$color-yellow: #fefad6;

$font-logo: 'Boogaloo', cursive;
$font-main: 'IBM Plex Sans', sans-serif;
$font-slogan: 'M PLUS Rounded 1c', sans-serif;

body {
    box-sizing: border-box;
    color: $color-primary;
    font-family: $font-main;
    margin: 0;
    padding: 20px 0 0;
    text-align: center;
}

a:link,
a:visited {
    text-decoration: none;
}
