@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans&family=M+PLUS+Rounded+1c:wght@700&display=swap");
body {
  box-sizing: border-box;
  color: #243A73;
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 20px 0 0;
  text-align: center;
}

a:link,
a:visited {
  text-decoration: none;
}

.large-heading {
  font-weight: bold;
  font-size: 2.8rem;
}

.large-btn {
  display: inline-block;
  background-color: #243A73;
  border-radius: 10px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  padding: 2.5% 10%;
  margin: 10% auto;
}

.login-btn {
  display: inline-block;
  border: 2px solid #243A73;
  border-radius: 10px;
  padding: 2% 4%;
  margin: auto 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

nav {
  height: 20vh;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  max-width: 40%;
  max-height: 100%;
}

.logo-text {
  font-family: "Boogaloo", cursive;
  font-size: 5rem;
  margin: 0;
}

.intro p {
  font-size: 1.8rem;
}
.intro img {
  margin-bottom: 10%;
}

.slogan-text {
  color: #42C2FF;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 2.5rem;
  margin: 10% 0;
}

#features {
  padding: 0 15px;
}

.features-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}

.keywords {
  font-weight: bold;
}

.supporting-text {
  font-style: italic;
}

footer {
  background-color: #fefad6;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-link {
  color: #243A73;
  font-size: 1.8rem;
  font-weight: bold;
}