@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=IBM+Plex+Sans&family=M+PLUS+Rounded+1c:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #243A73;
  font-family: "IBM Plex Sans", sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  max-width: 40%;
  max-height: 100%;
}

.logo-text {
  font-family: "Boogaloo", cursive;
  font-size: 5rem;
  margin: 0;
}

.login-btn {
  display: block;
  width: 10%;
  height: 50%;
  border: 2px solid #243A73;
  border-radius: 10px;
  padding: 10px 20px;
  margin: auto 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}