
$color-primary: #243A73;
$color-secondary: #42C2FF;
$color-white: #fff;
$color-yellow: #FFF7BC;

* {
    margin: 0;
    padding: 0;
    color: $color-primary;
}

a:link,
a:visited {
    text-decoration: none;
}


